<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>
 I love you
</p>
<ul class="sonarmenu">
  <li><a href="newly.php">Newly</a></li>
  <li><a href="history.php">Collections</a></li>
  <li><a href="best_seller.php">best seller</a></li>
  <li><a href="special.php">Special</a></li>
  <li><a href="create your own.php">create your own</a></li>
</ul>